* { margin: 0; padding: 0; }

.landing-page {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.landing-page-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #80FFA4;
    width: 50%;
    height: 100%;
}

.banner-title {
    text-align: center;
}

.landing-page-form {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #F7FCF9;
    width: 50%;
}

.form-input {
    margin: 4px 0 12px 0;
}