@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* { margin: 0; padding: 0; font-family: 'Inter', sans-serif;}

.landing-page {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.landing-page-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #80FFA4;
    width: 50%;
    height: 100%;
}

.landing-page-banner img { width: 80% }

.banner-title {
    margin: 40px;
    text-align: center;
}

.landing-page-form {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #F7FCF9;
    width: 50%;
}

.landing-page-form form {
    width: 80%;
}

.form-input {
    margin: 4px 0 12px 0;
    padding: 4px;
    width: 100%;
}